@page "/albums"

@attribute [Authorize]

@using Client.Web.Services.ApiHttpService.Models.ModelResponse
@using static Client.Web.Pages.AlbumComponent
@inject ApiHttpService HttpService
@inject NavigationManager Navigation

<div style="padding: 40px">
    <MudText Typo="Typo.h4" Class="mb-4 font-bold">💿 Список альбомов</MudText>

    @if (isLoading)
    {
        <div class="flex justify-center items-center" style="height:200px;">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
        </div>
    }
    else if (albums is not null)
    {

        <AlbumComponent Albums="albums" />
    }
    else
    {
        <MudText Color="Color.Error">Не удалось загрузить альбомы</MudText>
    }
</div>

@code {
    private List<AlbumModel> albums;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpService.GetAsync<List<AlbumModel>>($"/api/v1/albums");

        if (response.Success)
            albums = response.Data;
        else
            Console.WriteLine(response.ErrorMessage);

        isLoading = false;
    }
}
